html,
body{
	height: 100%;
    background-color: black;
    color: green;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
	background-size: cover;
	background-position: center;
    color: green;
}